.column-container {
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  color: white;
}
.t-header {
  height: 100vh;
  background: url('../images/bc-a2.jpg') fixed  no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 2px 2px 14px rgb(46, 46, 46); 

  &__col-template {
    margin: 50px 15px;    
  }

  &__container {
    margin: 20px;
    width: 350px;
    height: 500px;
    background: url('../images/bc-a2.jpg') fixed  no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;    
    margin: 15px auto;   
    border-radius: 1px;
    border: 0.5px solid rgba(59, 96, 121, 0.5);
    //box-shadow: 0px 0px 4px rgb(37, 37, 37);
    &::before {      
      width: 400px;
      height: 550px;
      content: "";
      position: absolute;
      top: -25px;
      left: -25px;
      bottom: 0;
      right: 0;
      background: inherit;
      box-shadow: inset 0 0 0 300px rgba(14, 16, 19, 0.5);
      filter: blur(4px);
    }
  }
}
.t-form {
  padding: 15px;  
  position: relative; 
  display: inline-block;
  text-align: center;  
  ul {
    list-style-type: none; 
    min-height: 300px;
  }  
}
  
.card {
  display: flex;
  flex-grow: 1;
  padding: 15px;
  background: rgba($color: #000000, $alpha: 0.5)
}  